.footer-container {
  box-sizing: border-box;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  margin-bottom: 0;
  margin-top: auto;
}
.footer__text {
  display: flex;
  justify-content: center;
  margin: 1rem;
  color: rgba($color: #ffffff, $alpha: 1);
  font-size: 1.2em;
}
