.modal-container {
  box-sizing: border-box;
  width: 100%;
  max-width: 1024px;
  display: flex;
  align-items: center;
  border: 2px solid black;
  margin: auto;
}
.modal__btn__close {
  justify-content: center;
  margin: 1rem;
}
